$breakpoint-small-screen: 780px;

.home {
	.post-list {
		a:hover {
			text-decoration: none;
		}
		li {
			border: solid 1px #ddd;
			margin-bottom: 18px;
			@media (min-width: $breakpoint-small-screen) {
				height: 150px;
			}
			.post-info {				
				padding: 20px;
				display: inline-block;
				@media (min-width: $breakpoint-small-screen) {
  					width: 73.8%;
				}
				.post-title {
					display: inline-block;
					font-size: 24px;
					margin-right: 5px;
				}
			}
			.post-thumbnail {
				width: 20%;
				height: 100%;
				display: inline-block;
				vertical-align: top;
				@media (max-width: $breakpoint-small-screen) {
  					display: none;
				}
			}
			
		}
	}
}